body {
    padding: 0;
    margin: 0;
    background-color: #C9D7DD;
}

.container {
    width: 75%;
    height: 850px;
    box-sizing: border-box;
    margin: 30px auto;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 850px;
}

h2 {
    display: inline;
}

ul {
    height: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-h2 {
    float: left;
    padding-left: 20px;
}

li {
    float: right;
    margin: 30px 0;
}

li a {
    display: inline;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #342525e1;
}

.div-two {
    width: 200px;
    height: 200px;
    margin: 40px 25px;
    padding-left: 45px;
}

.div-h2 {
    font-size: 43px;
    font-weight: normal;
    color: #000;
}

.container2 {
    display: flex; /* Change 'position' to 'display' */
    flex-wrap: nowrap; /* Prevent wrapping to next line */  
}

.info {
    flex: 1; /* Allow flex items to grow and shrink equally */
    padding: 3px; /* Add padding for spacing */
    border: 1px ;
    /* background-color: rgba(255, 255, 255, 0.4); */
    margin-top: 12em;
}
