body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #C9D7DD;
    margin: 0;
    padding: 0;
    height: 100px;
}
.nav-h2{
    padding: 0;
    margin: 0;
    font-size: 50px;
    float: left;
}